<div class="wrapperWidget">
  <span class="widgetHeader" data-bind="text: BannerText"></span>
  <a data-bind="attr: {href: BannerRedirectLink}">
    <img data-bind="attr:{src: BannerImageURL}">
  </a>
</div>